<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white vh-100">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none">
        <span class="fs-4"><i class="bi bi-shield-lock me-2"></i>ACNS'26</span>
    </a>
    <hr />

    <ul class="nav flex-column mb-auto" id="sidebarAccordion">

        <!-- Call For -->
        <li>
            <a class="nav-link text-white dropdown-toggle"
               data-bs-toggle="collapse"
               data-bs-target="#callForMenu"
               role="button"
               aria-expanded="false"
               aria-controls="callForMenu">
                <i class="bi bi-megaphone me-2 text-white"></i> Call For
            </a>
            <div class="collapse" id="callForMenu" data-bs-parent="#sidebarAccordion">
                <ul class="list-unstyled fw-normal pb-1 small ps-4">
                    <li>
                        <NavLink class="nav-link text-white" href="CallForPapers" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-file-earmark-text me-2"></i>Call for Papers
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white" href="CallForWorkshop" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-easel2 me-2"></i>Call for Workshop
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white" href="CallForPoster" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-image me-2"></i>Call for Poster
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white" href="CallForTestOfTime" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-award me-2"></i>Test of Time Award
                        </NavLink>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Attend -->
        <li>
            <a class="nav-link text-white dropdown-toggle"
               data-bs-toggle="collapse"
               data-bs-target="#attendMenu"
               role="button"
               aria-expanded="false"
               aria-controls="attendMenu">
                <i class="bi bi-person-check me-2 text-white"></i> Attend
            </a>
            <div class="collapse" id="attendMenu" data-bs-parent="#sidebarAccordion">
                <ul class="list-unstyled fw-normal pb-1 small ps-4">
                    
                    <li>
                        <NavLink class="nav-link text-white" href="Venue" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-geo-alt me-2"></i>Venue
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white" href="visa" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-pass me-2"></i>Visa Information
                        </NavLink>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Program -->
        <li>
            <a class="nav-link text-white dropdown-toggle"
               data-bs-toggle="collapse"
               data-bs-target="#programMenu"
               role="button"
               aria-expanded="false"
               aria-controls="programMenu">
                <i class="bi bi-journal-code me-2 text-white"></i> Program
            </a>
            <div class="collapse" id="programMenu" data-bs-parent="#sidebarAccordion">
                <ul class="list-unstyled fw-normal pb-1 small ps-4">
                    <li>
                        <NavLink class="nav-link text-white" href="Program" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-calendar-week me-2"></i>Conference Program
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white" href="AcceptedPapers" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-check2-square me-2"></i>Accepted Papers
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white" href="InvitedSpeakers" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-person-lines-fill me-2"></i>Invited Speakers
                        </NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link text-white" href="Workshops" Match="NavLinkMatch.Prefix">
                            <i class="bi bi-people me-2"></i>Workshop at ACNS
                        </NavLink>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Organization -->
        <li>
            <NavLink class="nav-link text-white" href="Registration" Match="NavLinkMatch.Prefix">
                <i class="bi bi-card-checklist me-2"></i> Registration
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link text-white" href="PaperSubmission" Match="NavLinkMatch.Prefix">
                <i class="bi bi-upload me-2"></i> Paper Submission
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-link text-white" href="Sponsorship" Match="NavLinkMatch.Prefix">
                <i class="bi bi-gem me-2"></i> Sponsorship
            </NavLink>
        </li>

        <!-- Contact -->

        <li>
            <NavLink class="nav-link text-white" href="Contact" Match="NavLinkMatch.Prefix">
                <i class="bi bi-envelope-at me-2"></i> Contact
            </NavLink>
        </li>
        

    </ul>
</div>